*{
    padding: 0; margin: 0;
}


body{
    background-image: url(../img/Bg_last.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(3px);
}

.info{
    background-color:#D9D9D9;
    width: 712px;
    height: 712px;
    opacity: 0.7;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

h1{
    text-align: center;
    padding: 30px;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
}

p{
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    padding: 151px;
}

button a{
    text-decoration: none;
}

button{
    background-color: #D9D9D9;
    width: 60px;
    height: 60px;
    border-radius: 9px;
    margin: 30px;
}

.kolleg{
    text-decoration: none;
    color: blue;
}