*{
    padding: 0; margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(194.43deg, #84B1F5 21.73%, rgba(77, 72, 205, 0) 97.74%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: none;
    position: absolute;
    left: 100px;

}

button a{
    text-decoration: none;

}

.container{
    padding: 20px;
}

.text_window{
    width: 1199px;
    height: 100%;
    background-color: #E1E1E1;
    margin: auto;
    background: rgba(225, 225, 225, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1{
    font-weight: bold;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 3rem;
    text-align: center;

}
    
p{
    font-weight: 300;
    font-size: 29px;
    line-height: 35px;
    padding: 0 20px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

